.formWrapper {
  width: 60%;
  margin: 24px auto 0px auto!important;
}

div.sectionContainer {
  padding: 0px;
  width: 100%;
}

div.subtitle {
  background-color: #fff;
  padding: 0pt !important;
  height: 48pt;
  width: inherit;
  display: flex;
}

.subHeader {
  padding: 1%;
  flex: 1;
}

div.subtitle:hover, 
div.subtitle:focus {
  cursor: pointer;
  background-color: #0b699e;
  color: #fff;
}

div.formContainer {
  width: inherit;
  margin: 0px auto 8px auto!important;
  background-color: #fff;
  padding: 1%;
  box-shadow: 1px 1px 1px #ccc;
}

/** Bullet points. */
.expandableMark {
  margin-right: 0pt;
  margin-top: 0pt;
  padding-top: 0pt !important;
  width: 48pt;
  font-size: 34pt;
  text-align: center;
}