<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>PrestaPolis</title>
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/modal.css" />
        <link rel="stylesheet" href="css/btnStyles.css" />
        <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="js/slides_manager.js" type="text/javascript"></script>
        <script src="js/modal.js" type="text/javascript"></script>
        <script src="js/validator.js" type="text/javascript"></script>
    </head>

    <!-- 3. Display the application -->
    <body>
        <!-- BEGIN: Uper holder wih nav-bar, PrestaPolis' Header and breadcrumb.  -->
        <div id="upperHolder">
            <div class="header">
                <img src="img/logo-prestapolis-oneline.png" />
            </div>
            <div class="navBar">
                <span class="navBarElement">
                    <img src="img/icon_avatar.svg" height="47" />
                </span>
            </div>
        </div>
        <!-- END: Uper holder wih nav-bar, PrestaPolis' Header and breadcrumb.  -->

        <!-- BEGIN: Main and diverse content.  -->
        <div id="content">
            <custom-router-outlet></custom-router-outlet>
            <div class="title">
                <span>Registro de compra</span> <br />
                <small>Los campos marcados con * son obligatorios</small>
            </div>

            <div class="sectionContainer">
                <div class="subtitle">
                    <span>Informaci&oacute;n del Comprador</span> <br />
                    <small>Puede usar tab para navegar</small><br />
                    <p>
                        Paso <span id="current">1</span> de <span id="totalSlides">3</span>
                    </p>
                </div>

                <div class="formContainer">
                    <label for="buyerId" class="label">
                        <small class="mandatory">*</small>N&uacute;mero de c&eacute;dula
                    </label>
                    <input [(ngModel)]="bill.persoData.idNumber"
                           id="buyerId" placeholder="Ingrese la identificaci&oacute;n" type="text" pptype="idNumber" maxlength="50" class="formInput" tabindex="1" />

                    <label for="buyerName" class="label">
                        <small class="mandatory">*</small>Primer nombre
                    </label>
                    <input [(ngModel)]="bill.persoData.firstName"
                           id="buyerFirstName" placeholder="Ingrese el primer nombre" type="text" maxlength="50" size="50" class="formInput" tabindex="2" />

                    <label for="buyerMiddleName" class="label">
                        Segundo nombre
                    </label>
                    <input [(ngModel)]="bill.persoData.middleName"
                           id="buyerMiddleName" placeholder="Ingrese el segundo nombre" type="text" maxlength="50" size="50" class="formInput" tabindex="3" />

                    <label for="buyerLastName" class="label">
                        <small class="mandatory">*</small>Primer apellido
                    </label>
                    <input [(ngModel)]="bill.persoData.lastName"
                           id="buyerLastName" placeholder="Ingrese el primer apellido" type="text" maxlength="50" size="50" class="formInput" tabindex="4" />

                    <label for="buyerOtherNames" class="label">
                        Segundo apellido
                    </label>
                    <input [(ngModel)]="bill.persoData.otherNames"
                           id="buyerOtherNames" placeholder="Ingrese el segundo apellido" type="text" maxlength="50" size="50" class="formInput" tabindex="5" />

                    <label for="buyerBirthDate" class="label">
                        <small class="mandatory">*</small>Fecha de nacimiento
                    </label>
                    <input [(ngModel)]="bill.persoData.birthdate"
                           id="buyerBirthDate" type="date" maxlength="50" size="50" class="formInput" tabindex="6" />
                </div>
            </div>


            <div class="sectionContainer">
                <div class="subtitle">
                    <span>Informaci&oacute;n del Comprador</span> <br />
                    <small>Datos de contacto</small><br />
                    <p>
                        Paso <span id="current">2</span> de <span id="totalSlides">3</span>
                    </p>
                </div>

                <div class="formContainer">
                    <label for="buyerContactMobile" class="label">
                        <small class="mandatory">*</small>Celular
                    </label>
                    <input [(ngModel)]="bill.persoData.contacts[0].mobilePhone"
                           id="buyerContactMobile" placeholder="Ingrese el tel&eacute;fono." type="text" maxlength="50" class="formInput" tabindex="20" />

                    <label for="buyerContactEmail" class="label">
                        <small class="mandatory">*</small>E-Mail
                    </label>
                    <input [(ngModel)]="bill.persoData.contacts[0].email"
                           id="buyerContactEmail" placeholder="Ingrese el e-mail del cliente." type="email" maxlength="50" size="50" class="formInput" tabindex="21" />

                    <label for="buyerContactAddress" class="label">
                        <small class="mandatory">*</small>Direcci&oacute;n
                    </label>
                    <input [(ngModel)]="bill.persoData.contacts[0].address"
                           id="buyerContactEmail" placeholder="Ingrese la direcci&oacute;n del cliente." type="text" maxlength="50" size="50" class="formInput" tabindex="22" />
                </div>
            </div>
            <div class="sectionContainer">
                <div class="subtitle">
                    <span>Informaci&oacute;n de la venta</span> <br />
                    <small>Puede usar tab para navegar</small><br />
                    <p>
                        Paso <span id="current">3</span> de <span id="totalSlides">3</span>
                    </p>
                </div>
                <div class="formContainer">
                    <label for="billNumber" class="label">
                        <small class="mandatory">*</small>N&uacute;mero de factura
                    </label>
                    <input [(ngModel)]="bill.billNumber"
                           id="billNumber" placeholder="Identificador de la factura" type="text" maxlength="50" class="formInput" tabindex="40" />

                    <label for="billItem" class="label">
                        <small class="mandatory">*</small>Producto
                    </label>
                    <input [(ngModel)]="bill.item"
                           id="billItem" placeholder="Producto adquirido" type="text" maxlength="50" class="formInput" tabindex="41" />

                    <label for="billDescription" class="label">
                        Descripci&oacute;n
                    </label>
                    <textarea [(ngModel)]="bill.description"
                              id="billDescription" rows="60" cols="50" class="formInput" tabindex="42" placeholder="(Opcional) Comentarios adicionales sobre la venta">
                    </textarea>

                    <label for="billBaseIva" class="label">
                        <small class="mandatory">*</small>Monto de venta (antes de impuestos)
                    </label>
                    <input [(ngModel)]="bill.baseiva"
                           id="billBaseIva" placeholder="S&oacute;lo n&uacute;meros" type="number" maxlength="50" class="formInput" tabindex="43" />

                    <label for="billIva" class="label">
                        <small class="mandatory">*</small>IVA (%)
                    </label>
                    <input [(ngModel)]="bill.iva"
                           id="billIva" placeholder="Ingrese s&oacute;lo n&uacute;meros." type="number" maxlength="50" class="formInput" class="formInput" />

                    <label for="billAmount" class="label">
                        <small class="mandatory">*</small>Total factura
                    </label>
                    <input [(ngModel)]="bill.billAmount"
                           id="billAmount" placeholder="Ingrese s&oacute;lo n&uacute;meros." type="number" maxlength="50" class="formInput" tabindex="44" />
                </div>
            </div>

            <div class="navButtonsContainer">
                <div id="backButton" class="navBackBtn" *ngIf="!message">
                    <span class="back">&#60;</span><br />
                    <small>
                        Paso <strong id="prevStep">X</strong>
                    </small>
                </div>
                <div class="submitContainer">
                    <button id="sendForm" class="submitButton" *ngIf="!message" (click)="purchase()">Registrar</button>
                </div>
                <div id="nextButton" class="navNextBtn" *ngIf="!message">
                    <span class="back">&#62;</span><br />
                    <small>
                        Paso <strong id="nextStep">Y</strong>
                    </small>
                </div>
            </div>

            <div id="msgModal" class="modal">
                <div class="modal-content">
                    <span id="modalCloseBtn" class="close">&times;</span>
                    <div *ngIf="message">
                        <div *ngIf="message.success">
                            <h2>¡Felicitaciones, la compra se registr&oacute; satisfactoriamente!</h2>
                            <p>
                                El comprador debe revisar la cuenta de correo {email} y confirmar.
                            </p>
                        </div>
                        <div *ngIf="!message.success">
                            <h2 *ngIf="message.fields">Lo sentimos, se presentaron inconvenientes al registrar la compra</h2>
                        </div>
                        <small class="text-danger" *ngIf="!message.success">
                            <p>
                                Detalle de errores:
                            </p>
                            <ul *ngIf="message.fields">
                                <li *ngFor="let field of message.fields" style="list-style-type: none">
                                    <strong>Campo:</strong> {{field.fieldName}}
                                    <strong>Error: </strong> {{field.errorMessage}}
                                </li>
                            </ul>
                        </small>
                    </div>
                </div>
            </div>

            <br />

            <div class="formContainer">
                <input id="acceptAgreement1" type="checkbox" value="1" tabindex="12" />
                <label for="acceptAgreement1" class="agree">
                    Autorizo a <em>PrestaPolis</em> para consultar mi informaci&oacute;n en centrales de riesgo.
                </label>
                <br />
                <input id="acceptAgreement2" type="checkbox" value="2" tabindex="13" />
                <label for="acceptAgreement2" class="agree">
                    Acepto los <a href="#">T&eacute;rminos y condiciones.</a>
                </label>
            </div>
        </div>
        <!-- END: Main and diverse content.  -->

        <!-- BEGIN: Important content and copyright.  -->
        <div id="footer">
            <span class="footerElement">
                PrestaPolis - Financia tus compras sin costos adicionales
            </span>
            <span class="footerElement">
                &copy; 2016 Derechos reservados
            </span>
        </div>
        <!-- END: Important content and copyright.  -->
    </body>

</html>